<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>【长沙楼盘_长沙新房_长沙楼盘价格】—新环境房屋网</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="长沙新房，长沙楼盘，长沙房价" />
<meta name="description" content="新环境新房频道为您精选长沙新房、提供长沙楼盘信息及房价，更多长沙楼盘信息尽在新环境房屋网。" />
<link href="../css/list.css" rel="stylesheet" />
<link href="../css/wendas.css" rel="stylesheet" />
<link rel="stylesheet" href="../css/wangEditor.min.css">
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
<![endif]-->

<% include include/cssjs %>
</head>

<body>
<!-- 顶部导航栏 -->
<%- include('include/nav', {menus: menus}) %>
<!-- 顶部菜单栏 -->
<%- include('include/header', {
    city: city, 
    currentCity: currentCity,
    active: ''
})  %>
<!-- 搜索栏 -->
<% include include/search %>
<!-- 搜索栏 -->
<% include include/login %>

<!--面包屑导航-->
<div class="breadcrumb">
    <div class="breadcrumb_content">
        <a href="###"><img src="../images/wd_07.png"/><span>象盒</span></a>&nbsp;>
        <a href="###"><span>我的提问</span></a>
    </div>
</div>


<!--内容-->
<div class="wrap">
    <!--左侧---->
    <div class="left_wrap  wodetiwen_wrap">
        <p class='title'>请简单描述你的问题</p>
        <input type="text" placeholder="请输入您的问题50字以内" maxlength="50"/>
        <p class='title'>问题补充</p>

        <!--富文本-->
        <div class="fuwenben_wrap" id="editor">
            
        </div>


        <p class='title'>问题类别</p>
        <div class="wentileibie_wrap">
            <input type="text" placeholder="请输入您的问题50字以内" maxlength="50"/>
            <a href="###"><img src="../images/wd_08.png"/></a>
        </div>
        <div class="yaoqingzuoda">
            <p>
            <img src="../images/wd_09.png"/>
            <span>邀请作答<i>（非必选）</i></span>
            </p>
            <a href="###"><span>提交回答</span></a>
        </div>

    </div>



    <!--右侧---->
    <!-- <div class="right_wrap">
       <div class="wytw_content">
        <a href="###"><img src="../images/wd_01.png"/><span>我提出的问题</span></a>
        <a href="###"><img src="../images/wd_02.png"/><span>我回答的问题</span></a>
        <a href="###"><img src="../images/wd_03.png"/><span>我的关注</span></a>
       </div>


        
         <div class="remenhuida_right">
             <p class="right_title"><span>热门</span>回答<i></i></p>
             <div class="remenhuida_right_content">
                 <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                 <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                 <a href="###"><span>美国热门税一般为多少？</span><i>1200个回答</i></a>                
             </div>
         </div>

    </div> -->

</div>



<div class="back_model" style="display:none"></div>
<!---回答弹窗--->
<!-- 
<div class="huida_model" style="display:none">
    <span class="close_btn"><img src="../images/wd_10.png"/></span>
    <p class="title">如果你无法简洁的表达你的想法，那只说明你还不够了解它。阿尔伯特·爱因斯坦</p>
    <p class="bq"><span>买房</span><span>交易流程</span></p>
    <p class="content" id="content">曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子，写的是父亲的名字，已经给了首付，由于年龄问题，只能供15年。如果房子改成我的</p>
    <p class="title_da">王大锤 答：</p>
    <div class="fuwenben">
        <img src="../images/w.jpg"/>
    </div>
    <div class="btns">
        <p class="jiajing"><i>加精</i><span class="switch_btn"><i></i></span></p>
        <a href="###" class="bcsh_btn"><span>保存审核</span></a>
    </div>
</div> -->


<!---邀请作答弹窗--->
<div class="yaoqingzuoda_model" style='display:none'>
     <span class="close_btn"><img src="../images/wd_10.png"/></span>
     <div class="huanpi_wrap">
         <p>
             <input type="text" placeholder="请输入" id="agentValue"/>
             <a href="javascript:void(0);" onclick="searchBelongerList()" class="ss_btn"><img src="../images/wd_08.png"/></a>
         </p>
         <span class="hp_btn" onclick="getBelongerList()"><i class="sx_img"></i>换一批</span>
     </div> 
    <div class="yaoqingjingjiren_wrap" id="agent">
		<% belongerList.content.forEach(item => { %>
        <div class="zuoda_list">
            <span><img src="<%= item.portrait %>"/></span>
            <p class="name"><span><%= item.name %></span><i><%= item.levelName %></i></p>
            <p class="quyu">
				<% item.fwlp.forEach((child, index) => { %>
					<%= index > 0 ? '、' : '' %> <%= child %>
				<% }) %>
			</p>
            <a href="###"><span>邀请作答</span></a>
		</div>
		<% }) %>

    </div>

</div>

<script>
	require(['jquery', 'wang_editor'], function($, wangEditor) {
		$(function () {
			//加精
			// $('.switch_btn').click(function () {
			// 	$(this).toggleClass('active');
			// })

			// //回答内容收展
			// var len = 65;     
			// var ctn = document.getElementById("content"); 
			// var content = ctn.innerHTML;                  
			// var span = document.createElement("span");     
			// var a = document.createElement("a");         
			// span.innerHTML = content.substring(0, len); 

			// a.innerHTML = content.length > len ? "展开全文<img src='../images/wd_11.png'/>" : "";
			// a.href = "javascript:void(0)";

			// a.onclick = function () {
			// 	if (a.innerHTML.indexOf("展开全文") == 0) {
			// 		a.innerHTML = "&nbsp;&nbsp;收起全文<img src='../images/wd_12.png'/>";
			// 		span.innerHTML = content;
			// 	} else {
			// 		a.innerHTML = "展开全文<img src='../images/wd_11.png'/>";
			// 		span.innerHTML = content.substring(0, len);
			// 	}
			// }     
			// ctn.innerHTML = "";
			// ctn.appendChild(span);
			// ctn.appendChild(a);

			//邀请作答
			$('.yaoqingzuoda>p').click(function () {
				$('.back_model,.yaoqingzuoda_model').show();
			})
			$('.back_model,.close_btn').click(function () {
				$('.back_model,.yaoqingzuoda_model,.huida_model').hide();
			})
			var ab = 0;
			$('.hp_btn').click(function () {
				ab += 360;
				$('.hp_btn>i').css('transform', 'rotate(' + ab + 'deg)');                       
			})
			//提交审核
			// $('.yaoqingzuoda > a').click(function () {
			// 	$('.back_model,.huida_model').show();
			// })
			var w = new wangEditor('#editor')
			w.customConfig.menus = [
				'bold',
				'italic',
				'underline',
				'undo',
				'image', 
			]
			w.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
			w.create()
		});
	})
	
	var page = 1
	/**
	 * 获取经纪人列表
	 */
	function getBelongerList(name) {
		$.ajax({
			url: '/getBelongerList',
			data: {
				page: page,
				name: name
			},
			method: 'POST',
			success: function(data) {
				page++
				if (data.status == 1) {
					var res = data.data
					var content = res.content
					var htmlStr = ''
					if (res.last) {
						page = 0
					}
					$.each(content, function(index, item) {
						htmlStr += '<div class="zuoda_list">' +
							'<span><img src="'+ item.portrait +'"/></span>' +
							'<p class="name"><span>'+ item.name +'</span><i>'+ item.levelName +'</i></p>'+
							'<p class="quyu">'+ (item.fwlp && item.fwlp.length > 0 ? item.fwlp.join('、') : '--') +'</p>' +
							'<a href="###"><span>邀请作答</span></a>'+
						'</div>'
					})
					$('#agent').html(htmlStr)

				}
			},
			error: function(data) {

			}
		})
	}

	/**
	 * 通过名字搜索经纪人列表
	 */
	function searchBelongerList() {
		page = 0
		
		var name = $('#agentValue').val()
		if (name) {
			$('.hp_btn').hide()
		} else {
			$('.hp_btn').show()
		}
		
		getBelongerList(name)

	}
</script>

</body>
</html>
