
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><%=currentCityName%>房产房地产知识问答_房产政策常见问题解读－<%=currentCityName%>象盒问答</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="<%= currentCityName %>房产问答，<%= currentCityName %>房地产知识，<%= currentCityName %>房产常见问题解读" />
<meta name="description" content="象盒<%= currentCityName %>房产问答频道，提供买卖交易流程解答、房价趋势答疑、房产政策、贷款政策、过户流程、房产法律相关、租房、装修问题。有房产疑问，上象盒就够了！" />
<link href="../css/list.css" rel="stylesheet" />
<link href="../css/wendas.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
  
<![endif]-->

<% include include/cssjs %>
</head>

<body>

<!-- 顶部导航栏 -->
<%- include('include/nav', {menus: menus}) %>
<!-- 顶部菜单栏 -->
<%- include('include/header', {
    city: city, 
    currentCityName: currentCityName,
    active: 'home',
    search: false
})  %>
<!-- 搜索栏 -->
<% include include/search %>

<div class="wrap wrap_one">
    <!---问答分类---->
    <div class="fendafenlei_wrap">
    <p class="title">问答分类</p>
   <div class="fenlei_type">
       <% classData.forEach(item => {%>
            <div class="fenlei_list_wrap" >
                <p class="title"><%= item.typeName %></p>
                <div class="fenlei_list">
                    <% item.labels.forEach(child => { %>
                        <%= JSON.stringify(child) %>
						<a href="/search_result?labelId=<%= child.labelId %>&bigLabel=<%= item.typeName %>&label=<%= child.labelName %>"><span><%= child.labelName %></span></a>
					<% }) %>
                </div>
            </div>
       <% }) %>
       
       <a href="/juhe" target="_blank" class="more_type"><span>更多分类</span><img src="../images/wd_fl.png" /></a>
   </div>
    </div>


<!---右侧栏---->
<div class="right_content">
    <!--今日头条----->
    <div class="jinritoutiao_wrap">
        <p class="title"><img src="../images/wd_tt.png"/></p>
        <div class="toutiao_content_wrap">
            <a href="/questions_info/<%= hotQuestion[0].problemAskId %>">
                <img src="<%= hotQuestion[0].img || '../images/wd_banner.jpg' %>"/>
                <p class="title"><%= hotQuestion[0].problemTitle %></p>
            </a>
            <div class="toutiao_wrap">
                <a href="/questions_info/<%= hotQuestion[1].problemAskId %>" class="zhu_content">
                    <p class="title"><%= hotQuestion[1].problemTitle %></p>
                    <p class="content" id="content"><%= hotQuestion[1].problemContent %></p>
                </a>
                <% for(var i = 2, len = hotQuestion.length; i < len; i++){ %>
                <a href="/questions_info/<%= hotQuestion[i].problemAskId %>" class="title"><i></i><span><%= hotQuestion[i].problemTitle %></span></a>
                <% } %>
            </div>



        </div>


        <div class="more_wrap">
            <span><img src="../images/wd_fjx.png"/></span>
            <a href="/wentiku"><i>查看</i><span>更多>></span></a>
        </div>
    </div>


    <!--最新问题----->
    <div class="zuixinwenti_wrap">
        <p class="title">最新问题</p>

        <div class="wenda_content wenda_content_common">
            
            <% newQuestion.content.forEach(item => { %>
                <div class="wd_content">
                    <a href="/questions_info/<%= item.problemAskId %>" class="<%= item.img ? 'img_detail': ''  %>">
                        <p class="liulanliang"><span><%= item.answerNum %></span><i>浏览量</i></p>
                        <p class="title"><%= item.problemTitle %></p>
                        <p class="name"><%= item.questionerName %></p>
                        <% if (item.newProblemAnswer) { %>
                            <p data-url="/personal_answer?id=<%= item.problemAskId %>&answerId=<%= item.newProblemAnswer.problemAnswerId %>" class="content answer"><%= item.newProblemAnswer.answerContent %></p>
                        <% } %>

                        <% if (item.img) {%>
                        <span class="img">
                            <img src="<%= item.img %>"/>
                        </span>
                        <% } %>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>

</div>
<script>
    require(['jquery', 'swiper'], function($, swiper) {

        $(function(){
            (function(){
                //详情
                var len = 80; 
                var ctn = document.getElementById("content"); 
                var content = ctn.innerHTML;                  
                var span = document.createElement("span"); 
                var i = document.createElement("i");           
                span.innerHTML = content.substring(0, len);
                i.innerHTML = content.length > len ? "... [详情]" : "";              
                ctn.innerHTML = "";
                ctn.appendChild(span);
                ctn.appendChild(i);
            })()
            $('.answer').click(function(){
                var url = $(this).attr('data-url')
                window.location.href = url
                return false
            })
        })
    })
    
</script>
</body>
</html>
