
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><%= currentCityName %>房产问答_<%= currentCityName %>房产交易问题解答-<%= currentCityName %>象盒问答</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="<%= currentCityName %>房产问答,<%= currentCityName %>房产问题,<%= currentCityName %>房产交易问题,<%= currentCityName %>装修问题,<%= currentCityName %>象盒问答" />
<meta name="description" content="房产相关问题，上象盒问答找答案！<%= currentCityName %>象盒问答是专业的关于房产、房屋交易、家居装修问题的问答分享平台。这里有专业的房产从业人员为您解答房产、房屋买卖、买房政策等各类买房置业问题，无数网友在这里交流新房，二手房，租房，家居，装修的问题，互帮互助。" />
<link href="<%= root %>/css/list.css" rel="stylesheet" />
<link href="<%= root %>/css/wendas.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
<![endif]-->

<% include include/cssjs %>

</head>

<body>
<!-- 顶部导航栏 -->
<% include include/nav %>
<!-- 顶部菜单栏 -->
<%- include('include/header', {
    city: city, 
    currentCityName: currentCityName,
    active: 'home',
    search: false
})  %>
<!-- 搜索栏 -->
<% include include/search %>

<div class="wrap wrap_two">
    <p class="title">问答分类</p>
    <div class="wendafenlei_list_wrap">
        <% classData.forEach(item => { %>
        <div class="wendafenlei_list active">
            <p><%= item.typeName %></p>
            <div class="fenlei_right">
                <% item.labels.forEach(child => { %>
                <a href="<%= root %>/search_result?labelId=<%= child.labelId %>&bigLabel=<%= item.typeName %>&label=<%= child.labelName %>"><span><%= child.labelName %></span></a>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </div>
</div>
</body>
</html>
