
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><% if (bigLabel) { %><%= bigLabel %>_<%= labelName %><% } else { %><%= problemTitle %><% } %>相关问题集锦-<%= currentCityName %>象盒问答</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="<% if (bigLabel) { %><%= bigLabel %>，<%= labelName %><% } else { %><%= problemTitle %><% } %>问题解答" />
<meta name="description" content="房产有疑问，上象盒找答案！象盒<%= currentCityName %>房产问答频道，提供买卖交易流程解答、房价趋势答疑、房产政策、贷款政策、过户流程、房产法律相关、租房、装修问题。" />
<link href="<%= root %>/css/list.css" rel="stylesheet" />
<link href="<%= root %>/css/wendas.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
<![endif]-->

<% include include/cssjs %>

</head>

<body>

    
<!-- 顶部导航栏 -->
<%- include('include/nav', {menus: menus}) %>
<!-- 顶部菜单栏 -->
<%- include('include/header', {
    city: city, 
    currentCityName: currentCityName,
    active: '',
    search: true
})  %>
<!-- 搜索栏 -->
<% include include/login %>

<!-- 面包屑 -->
<%- include('include/breadcrumb', {
    list: [{
        name: '问答动态',
        url: '#'
    }]
}) %>


<div class="wddt_big_wrap">
    <div class="wddt_content_wrap">
        <p class="title">为您找到<%= question.totalElements %>条<% if(labelName){ %> 关于<%= labelName %>的<% } %>问答</p>
        <div class="zuixinwenti_content">
          <% question.content.forEach(item => { %>
            <a href="<%= root %>/xq/<%= item.problemAskId %>.html" class="zuixinwenti_list">
                <p class="liulanliang"><span><%= item.answerNum %></span><i>浏览量</i></p>
                <p class="title"><%= item.problemTitle %></p>
                <p class="name"><%= item.questionerName %> 
                    <% if (item.askPersonlevel) { %>
                    <span class="jingjirenjibie"><%= item.askPersonlevel %></span>
                    <% } %>
                </p>
                <% if (item.newProblemAnswer) { %>
                    <p class="content answer" data-url="<%= root %>/personal_answer?answerId=<%= item.newProblemAnswer.problemAnswerId %>"><%= item.newProblemAnswer.answerContent %></p>
                <% } %>
            </a>
            <% }) %>
            <% if (!question.last) { %>
            <a 
                href="javascript:void(0)" 
                class="more_btn">
                <span>加载更多&gt;&gt;</span>
            </a>
            <% } %>
           </div>
    </div>

    <!-- 右侧内容 -->
    <%- include('include/right', {
        classData: classData,
        hotQuestion: hotQuestion,
        newAsk: newAsk,
        isLogin: isLogin
    }) %>
    </div>

</div>
<div id="xh_kj_login"></div>
</body>
<script>
    var login = null;
    require(['jquery', 'pc_login_reg'], function($, l) {
        login = l;
        $(function(){
            $('.answer').click(function(){
                var url = $(this).attr('data-url')
                window.location.href = url
                return false
            })
        })
    })
</script>
</html>
