
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><%= currentCityName %>房产问答大全，<%= currentCityName %>房地产问答-<%= currentCityName %>象盒</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="<%= currentCityName %>房产问答大全，<%= currentCityName %>房地产问答" />
<meta name="description" content="房产有疑问，上象盒找答案！象盒让天下没有难找的房！象盒<%= currentCityName %>房产问答频道，专业的房地产互动问答平台，<%= currentCityName %>房产问题在线咨询，千万用户在这里交流经验解答疑惑，内容涵盖新房、二手房、租房、装修、商业地产、贷款公积金等全方位的房地产知识。" />
<link href="<%= root %>/css/list.css" rel="stylesheet" />
<link href="<%= root %>/css/wendas.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
<![endif]-->


<% include include/cssjs %>

</head>

<body>
    
<!-- 顶部导航栏 -->
<%- include('include/nav', {menus: menus}) %>
<!-- 顶部菜单栏 -->
<%- include('include/header', {
    city: city, 
    currentCityName: currentCityName,
    active: 'dynamic',
    search: true
})  %>
<!-- 搜索栏 -->
<% include include/login %>

<!-- 面包屑 -->
<%- include('include/breadcrumb', {
    list: [{
        name: '问答动态',
        url: '#'
    }]
}) %>

<div class="wddt_big_wrap">
    <div class="wddt_content_wrap">
        <p class="title">最新问题
            <!-- <span class="dt_shaixuan"><i class="active">最新</i><i>热度</i></span> -->
        </p>
        
        <% if (questionList) { %>
        <div class="wenda_content">
            <% questionList.content.forEach((item, index) => { %>
            <div class="wd_content">
               <!------------------右边有图片的时候就在这里加个img_detail类名---->
               <a href="/xq/<%= item.problemAskId %>.html" class="<%= item.img ? 'img_detail': ''  %>">
                   <p class="title"><%= item.problemTitle %></p>
                   <p class="name"><%= item.questionerName %> 
                    <% if (item.askPersonlevel) { %>
                    <span class="jingjirenjibie"><%= item.askPersonlevel %></span>
                    <% } %>
                </p>
                   <% if (item.newProblemAnswer) { %>
                    <p class="content answer" data-url="/personal_answer?answerId=<%= item.newProblemAnswer.problemAnswerId %>"><%= item.newProblemAnswer.answerContent %></p>
                    <% } %>
                   <p class="huida">
                       <span><%= item.answerNum %>条回答</span>
                       <% if (item.isFocus) { %>
                        <span 
                            class="guanzhu" 
                            onclick="removeFocus('<%= item.problemAskId %>', '<%= index %>', '<%= item.questionerId %>')">
                            取消关注
                        </span>
                        <% } else { %>
                        <span 
                            class="guanzhu active" 
                            onclick="addFocus('<%= item.problemAskId %>', '<%= index %>', '<%= item.questionerId %>')">
                            关注
                        </span>
                        <% } %>
                    </p>
                   <% if (item.img) {%>
                    <span class="img">
                        <img src="<%= item.img %>"/>
                    </span>
                    <% } %>
               </a>

               
           </div>
           <% }) %>
           <!---分页---->
            <div class="pager" id="pager"></div>
        </div>
        <% } %>
    </div>
    
    <!-- 右侧内容 -->
    <%- include('include/right', {
        classData: classData,
        hotQuestion: hotQuestion,
        newAsk: newAsk,
        isLogin: isLogin
    }) %>
    

</div>
<div id="xh_kj_login"></div>
</body>
<script>
    var login = null
    var dialog = null
    require(['pager', 'pc_login_reg', 'dialog'], function(pager, l, d) {
        login = l;
        dialog = d;
        var p = new pager({
            total: "<%= questionList.totalElements %>",
            pageno: Number("<%= questionList.number %>") + 1,
            pagesize: "<%= questionList.size %>",
            view: 2,
            useGoto: false
        });
        $('#pager').after(p.get());

        $('.answer').click(function(){
            var url = $(this).attr('data-url')
            window.location.href = url
            return false
        })

        
    })
    /**
     * 关注
     * @param {String} askId 问题id 
     * @param {Number} index 问题索引
     * @param {String} userId 提问者id
     */
     function addFocus(askId, index, userId) {
        event.stopPropagation();
        event.preventDefault()
        $.ajax({
            url: '/addFocus/',
            type: 'POST',
            data: {
                askId: askId,
                userId: userId
            },
            success: function(data) {
                if (data.status == 1) {
                    var html = "<span class='guanzhu' onclick='removeFocus(\""+askId+"\", "+index+", \""+userId+"\")'>取消关注</span>"
                    $('.guanzhu').get(index).remove()
                    $('.wd_content').eq(index).append(html)

                } else if (data.status == 506) {
                    login.login(function() {
                        addFocus(askId, index, userId)
                    })
                } else {
					var d = dialog({
						content: data.msg,
						quickClose: true
					});
					d.showModal();
					setTimeout(function () {
						d.close().remove();
					}, 1000);
                }
            }
        })
        return false
    }

    /**
     * 取消关注
     * @param {String} askId 问题id 
     */
     function removeFocus(askId, index, userId) {
        console.log(event)
        event.stopPropagation();
        event.preventDefault()
        $.ajax({
            url: '/removeFocus/',
            type: 'POST',
            data: {
                askId: askId,
                userId: userId
            },
            success: function(data) {
                if (data.status == 1) {
                    var html = "<span class='guanzhu active' onclick='addFocus(\""+askId+"\", "+index+", \""+userId+"\")'>关注</span>"
                    $('.guanzhu').get(index).remove()
                    $('.wd_content').eq(index).append(html)
                } else if (data.status == 506) {
                    login.login(function() {
                        removeFocus(askId, index, userId)
                    })
                } else {
					var d = dialog({
						content: data.msg,
						quickClose: true
					});
					d.showModal();
					setTimeout(function () {
						d.close().remove();
					}, 1000);
                }
            },
        })
        return false
    }



</script>
</html>
