
<div class="header">
    <div>
        <span><a href="http://www.xhj.com/"><img src="<%= root %>images/logo.png" class="img01 "/></a></span>
        <span class="font14 place place01"><img src="<%= root %>images/sy12.png"/><i id="cityName"><%= currentCityName %></i></span> 
        <div class="narbar pull-right narbar01">
            <ul class="list-unstyled list-inline listxinfang">
                <li class="tabs <%= active === 'home' ? 'active' : '' %>"><a href="<%= root %>">首页</a></li>
                <li class="tabs <%= active === 'dynamic' ? 'active' : '' %>">
                    <a href="<%= root %>wentiku">问答动态</a>
                </li>        
            </ul>
        </div>
        <!-- 搜索-->
        <% if (search) { %>
        <div class="sousuo_right_wrap">
            <input 
                type="text" 
                placeholder="房产问题与疑问，一搜即答" 
                id="searchInput"
                maxlength="20"
                onkeydown="keydownFn()"/>
            <a href="javascript:void(0);" onclick="submitSearch()"><img src="<%= root %>images/wd_06.png"/></a>
        </div>
        <% } %>
    </div>
</div>

<!-- 城市选择 -->
<div class="overlayBg"></div>
<div class="city-change bounceIn animated">
  <span class="close"></span>
  <div class="title">选择城市
    <span class="city-tab">
      <span class="code1">热门城市:</span>
      <a href="http://www.xhj.com/" title="长沙房产网">长沙</a>
      <a href="http://cs.xhj.com/" title="株洲房产网">株洲</a>
      <a href="http://xt.xhj.com/" title="湘潭房产网">湘潭</a>
      </span>
  </div>
  <div class="title-line"></div>
  <div class="fc-main clear">
      <div class="fl citys-l">
          <ul>
              <%
              Object.keys(city).map(function (zimu, zimu_index) {
              if(zimu_index % 2 == 0){
              %>
              <li class="clear">
                  <span class="code-title fl"><%= zimu %></span>
                  <div class="city-enum fl">
                      <%
                      city[zimu].map(function (cn) {
                      %>
                      <a href="<%= cn.domain %>" class="cityName" title="<%= cn.title %>" data-id="<%= cn.cityId %>"><%= cn.name %></a>
                      <% }); %>
                  </div>
              </li>
              <%
              }
              %>
              <% }); %>
          </ul>
      </div>
      <div class="fl citys-r">
          <ul>
              <%
              Object.keys(city).map(function (zimu, zimu_index) {
              if(zimu_index % 2 == 1){
              %>
              <li class="clear">
                  <span class="code-title fl"><%= zimu %></span>
                  <div class="city-enum fl">
                      <%
                      city[zimu].map(function (cn) {
                      %>
                      <a href="<%= cn.domain %>" class="cityName" title="<%= cn.title %>" data-id="<%= cn.cityId %>"><%= cn.name %></a>
                      <% }); %>
                  </div>
              </li>
              <%
              }
              %>
              <% }); %>
          </ul>
      </div>
  </div>
</div>


<script>
    require(['jquery'], function($) {
        $(function(){
            //城市切换
            $('.place').click(function () {
                $('.city-change, .overlayBg').show();
            })
            $('.close').click(function () {
                $('.city-change, .overlayBg').hide();
            })    
        })
        
    });

    function keydownFn() {
        if (event.keyCode === 13) {
            submitSearch()
        }
    }

    function submitSearch() {
        var search = $('#searchInput').val()
        if (!search) {
            return
        }
        window.location.href = '<%= root %>search_result?problemTitle='+escape(search)+''
    }
</script>