<!--快捷登录-->
<div id="xh_kj_login" class="kuiajie_denglu_model kuiajie_denglu_model01 hidden">
    <span class="close_f_btn"><img src="<%= root %>images/close_model.png" /></span>
    <p class="p01">手机快捷登录</p>
    <p class="p02">无账号自动注册不会导致手机号被泄露</p>
    <form>
        <div class="form_inputs">
        <input class="d_phone" type="text" placeholder="请输入手机号"/>
        <div>
        <input class="d_code" type="text" placeholder="请输入短信验证码"/>
        <a href="javascript:;" class="button_yz">获取验证码</a>
        </div>
        </div>
    </form>
    <p class="error_ts"></p>
    <a href="javascript:;" class="a_btnn_f"><span>登录</span></a>
    <a href="javascript:;" class="zhanghu_btn"><span>账户密码登录</span></a>
    <p class="xieyi_tishi">登录即代表同意<a href="http://www.xhj.com/policy.html" class="dialog_com_a" target="_blank">《象盒隐私政策》</a>及<a href="http://www.xhj.com/protocol.html" class="dialog_com_a" target="_blank">《象盒用户服务协议》</a></p>
</div>


<!--密码登录-->
<div id="xh_mm_login" class="kuiajie_denglu_model kuiajie_denglu_model02 hidden">
    <span class="close_f_btn"><img src="<%= root %>images/close_model.png" /></span>
    <p class="p01">账户密码登录</p>
    <form>
        <div class="form_inputs">
        <input class="d_phone" type="text" placeholder="请输入手机号码"/>
        <input class="d_pwd" type="password" placeholder="请输入密码"/>
        <div>
        <input class="d_code" type="text" placeholder="请输入验证码"/>
        <p class="yzm_f"></p>
        </div>
        </div>
    </form>
    <p class="error_ts"></p>
    <p>
        <a href="javascript:;" class="zc_btn_f"><span>去注册</span></a>
        <a href="javascript:;" class="zhmm_btn"><span>找回密码>></span></a>
    </p>
    <a href="javascript:;" class="a_btnn_f"><span>登录</span></a>
    <a href="javascript:;" class="zhanghu_btn"><span>手机快捷登录</span></a>
    <p class="xieyi_tishi">登录即代表同意<a href="http://www.xhj.com/policy.html" class="dialog_com_a" target="_blank">《象盒隐私政策》</a>及<a href="http://www.xhj.com/protocol.html" class="dialog_com_a" target="_blank">《象盒用户服务协议》</a></p>
</div>

<!--注册-->
<div id="xh_reg" class="kuiajie_denglu_model kuiajie_denglu_model02 hidden">
    <span class="close_f_btn"><img src="<%= root %>images/close_model.png" /></span>
    <p class="p01">注册为会员</p>
    <form>
        <div class="form_inputs">
        <input class="d_phone" type="text" placeholder="请输入手机号码"/>
        <div>
        <input class="d_code" type="text" placeholder="请输入短信验证码"/>
        <a href="javascript:;" class="button_yz">获取验证码</a>
        </div>
        <input class="d_pwd" type="password" placeholder="请输入密码（6-16个字符，可数字、字母及组合）"/>
        <input class="d_repwd" type="password" placeholder="请确认密码"/>
        </div>
    </form>
    <p class="error_ts"></p>
    <a href="javascript:;" class="a_btnn_f"><span>立即注册</span></a>
    <a href="javascript:;" class="zhanghu_btn"><span>已注册，去登陆</span></a>
    <p class="xieyi_tishi">登录即代表同意<a href="http://www.xhj.com/policy.html" class="dialog_com_a" target="_blank">《象盒隐私政策》</a>及<a href="http://www.xhj.com/protocol.html" class="dialog_com_a" target="_blank">《象盒用户服务协议》</a></p>
</div>

<!--找回密码-->
<div id="xh_find_pwd" class="kuiajie_denglu_model kuiajie_denglu_model03 hidden">
    <span class="close_f_btn"><img src="<%= root %>images/close_model.png" /></span>
    <p class="p01">找回密码</p>
    <form>
        <div class="form_inputs">
        <input class="d_phone" type="text" placeholder="请输入手机号"/>
        <div>
        <input class="d_code" type="text" placeholder="请输入验证码"/>
        <a href="javascript:;" class="button_yz">获取验证码</a>
        </div>
        <input class="d_pwd" type="password" placeholder="请输入密码（最少8位，数字+字母）"/>
        </div>
    </form>
    <p class="error_ts"></p>
    <a href="javascript:;" class="a_btnn_f"><span>修改密码</span></a>
</div>

<!--获取验证码-->
<div id="xh_get_code" class="kuiajie_denglu_model kuiajie_denglu_model04 hidden">
    <span class="close_f_btn"><img src="<%= root %>images/close_model.png" /></span>
    <p class="p01">请先输入以下图形验证码</p>
    <form>
        <div class="form_inputs">
        <div>
        <input class="d_code" type="text" placeholder="请输入右验证码"/>
        <p class="yzm_f"></p>
        </div>
        </div>
    </form>
    <p class="error_ts"></p>
    <a href="javascript:;" class="a_btnn_f"><span>确定</span></a>
</div>

<!--消息提示框-->
<div id="xh_message" class="kuiajie_denglu_model kuiajie_denglu_model04 hidden">
    <span class="close_f_btn"><img src="<%= root %>images/close_model.png" /></span>
    <p class="p01" style="line-height:60px;"></p>
    <a href="javascript:;" class="a_btnn_f"><span>确定</span></a>
</div>

<div class="common_model hidden"></div>
