<!--顶部导航-->
<div class="top_heard">
    <div>
     <ul class="list-unstyled list-inline">
        <%
        menus.map(function (menu) {
        if(menu){
        %>
        <li class="tabs">
            <a href="<%= menu.listpage %>"><%= menu.name %></a>
            <%
            if(menu.subChannel && menu.subChannel.length > 0){
            %>
            <div class="nav">
                <em><img src="<%= siteDomain %>/web/images/index/sy14.png"></em>
                <%
                menu.subChannel.map(function (subMenu) {
                %>
                <a href="<%= subMenu.listpage %>"
                   class="<% if(subMenu.isImportant == '1'){ %>btn<% } %>"><span><%= subMenu.name %></span></a>
                <%
                });
                %>
            </div>
            <% } %>
        </li>
        <%
        }
        });
        %>
            <li class="tabs" style="margin-right:5px;">
                <a target="_blank" href="http://www.xhj.com/wap/page/appdown">新环境APP</a>
                  <div class="nav eww" style="left:-37px;">
                      <img src="../images/erweima.png" style="width:140px;"/>
                </div>
            </li>                                       
          </ul>
        <!--登录以及注册-->
       <div class="dlzc key_no_login">
            <div class="dl_a_wrap">
                <a href="http://www.xhj.com/login" class="dl_a"><img src="../images/f_01.png" class="img02">登录</a><span class="xian">/</span>
                <div class="denglu_nav nav">
                    <em><img src="../images/sy14.png"></em>
                    <a href="http://www.xhj.com/login" class="yhdl_btn_model"><span>用户登录</span></a>
                    <a href="http://belonger.xhj.com/" class=""><span>经纪人登录</span></a>
                </div>
                <a href="http://www.xhj.com/reg" rel="nofollow">注册</a>
            </div>      
        </div>
    </div>
    </div>